</!DOCTYPE html>
<html>
<head>
	<title>Activities</title>

	{% load static %}
	<meta charset="utf-8">
    <link href="{% static 'lib/css/keen-dashboards.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'lib/css/nv.d3.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/custom-style.css' %}" rel="stylesheet" type="text/css" />

    <script src="{% static 'lib/js/jquery.min.js' %}"></script>
    <script src="{% static 'lib/js/d3.v3.js' %}" charset="utf-8"></script>
    <script src="{% static 'lib/js/nv.d3.js' %}"></script>

    {# modified from http://django-bootstrap3.readthedocs.io/en/latest/quickstart.html #}
	{% load bootstrap3 %}
	{% bootstrap_css %}
	{% bootstrap_javascript %}

	<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>

</head>
<body class="application">
	 

	<!-- MODIFIED: from the example on HEROKU's "getting started with python" guide	 --> 
	<!-- https://devcenter.heroku.com/articles/getting-started-with-python#introduction -->
	<nav class="navbar navbar-default navbar-static-top navbar-inverse">
	  <div class="container">

	  <!-- nav bar selection modified from -->
	  <!-- http://stackoverflow.com/questions/25044370/make-clicked-tab-active-in-bootstrap -->
	  	<!-- nav bar items starting from the left -->
	    <ul class="nav navbar-nav">

			<li class="{% if nbar == 'home' %}active{% endif %}">
			<a href="/athletes"><span class="glyphicon glyphicon-home"></span> Home </a>
			</li>

			<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-list"></span> Lists <span class="caret"></span></a>

			<ul class="dropdown-menu {% if nbar == 'list' %}active{% endif %}">
				<li>
					<a href="/athletes/list"><img src="{% static 'img/running.png' %}" style="width:20px"> Activities </a>
				</li>

				<li>
					<a href="{% url 'athletes:performance' %}"><span class="glyphicon glyphicon-signal"></span> Performance </a>
				</li>

				<li>
					<a href="{% url 'athletes:injury' %}"><span class="glyphicon glyphicon-exclamation-sign"></span> Injuries </a>
				</li>
            </ul>
		</li>

			

			

	    </ul>

	    <!-- nav bar items starting from the right -->
	    <ul class="nav navbar-nav navbar-right">

	    <li class="dropdown {% if nbar == 'upload' %}active{% endif %}">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Log Data <span class="caret"></span></a>

			<ul class="dropdown-menu">
				
				<li>
					<a href="/athletes/upload_one"><span class="glyphicon glyphicon-upload"></span> Upload Fit File</a>
				</li>

				<li>
					<a href="/athletes/newrun"><span class="glyphicon glyphicon-plus"></span> Manually Add Run</a>
				</li>

				<li>
					<a href="{% url 'athletes:new-performance' %}"><span class="glyphicon glyphicon-signal"></span> Add Performance </a>
				</li>

				<li>
					<a href="{% url 'athletes:new-injury' %}"><span class="glyphicon glyphicon-exclamation-sign"></span> Add Injury </a>
				</li>

				<li role="separator" class="divider"></li>

				<li>
					<a href="{% url 'athletes:help' %}"> Help Finding Fit Files</a>
				</li>


            </ul>
		</li>

	    

		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>

			<ul class="dropdown-menu">
				<!--
				<li>
					<a href="/athletes/connections">Manage Connections</a>
				</li>
				-->

				<li role="separator" class="divider"></li>

				<li>
					<a href="/accounts/logout">Logout</a>
				</li>
            </ul>
		</li>

	    </ul>
	  </div>
	</nav>


	{% block content %}
	{% endblock %}

</body>
</html>