<!-- MODIFIED FROM TUTORIAL: 
https://tutorial.djangogirls.org/en/django_forms/ -->

{% extends "athletes/base.html" %}
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Edit</title>
    </head>

        {% block content %}

            <div class="container-fluid">

                <form action="{% url "athletes:upload_one" %}" method="post" enctype="multipart/form-data">

                    {% csrf_token %}

                    <!-- copied from http://stackoverflow.com/questions/14647723/django-forms-if-not-valid-show-form-with-error-message -->
                    {% if form.errors %}
                        <div class="alert alert-danger">
                                <strong>Please correct the errors below.</strong>
                        </div>
                    {% endif %}


                    <div class="form-group row">
                        <div class="col-sm-1 col-form-label">
                            <label for="name">Name:</label>
                            {% if form.name.errors %}
                                {% for error in form.name.errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ error | escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="col-sm-11">
                            <input class="form-control" type="text" name="name" required>
                        </div>


                        
                    </div>

                    <div class="form-group row">
                        <div class = "col-sm-6">
                            <div class="form-group row">

                                <div class="col-sm-2 col-form-label">
                                    <label for="comments">Comments:</label>
                                    {% if form.comments.errors %}
                                        {% for error in form.comments.errors %}
                                            <div class="alert alert-danger">
                                                <strong>{{ error | escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="col-sm-10">
                                    <textarea class="form-control" rows="10" type="text" name="comments" required></textarea>
                                </div>
            
                            </div>
                        </div>

                        <div class = "col-sm-6">
                            <div class="form-group row">

                                <div class="col-sm-2 col-form-label">
                                    <label for="comments">Tags:</label>
                                    {% if form.tags.errors %}
                                        {% for error in form.tags.errors %}
                                            <div class="alert alert-danger">
                                                <strong>{{ error | escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="col-sm-10">
                                    <textarea class="form-control" rows="10" type="text" name="tags" placeholder="e.g.
#pelvis_hurt 3
#slept 8
#dehydrated"></textarea>
                                </div>
            
                            </div>
                        </div>
                        
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-1 col-form-label">
                            <label for="RPE">RPE:</label>
                            {% if form.RPE.errors %}
                                {% for error in form.RPE.errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ error | escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="col-sm-4">
                            <img src="{% static "img/RPE-scale.jpg" %}" alt="RPE-scale" style="width:100%;">   
                        </div>
                        <div class="col-sm-1">
                            <input type="number" class="form-control" rows="10" name="RPE" value="{{form.RPE.value}}" min = "1" max = "10" required></input>
                        </div>

                        <div class='col-sm-1'></div>

                        <div class="col-sm-3">

                            <div class="row" style="padding-bottom: 30px;">
                                <div class='col-sm-12'>

                                {% if form.met_expectation.errors %}
                                {% for error in form.met_expectation.errors %}
                                        <div class="alert alert-danger">
                                            <strong>{{ error | escape }}</strong>
                                        </div>
                                    {% endfor %}
                                {% endif %}

                                    <div class="radio">
                                      <label>
                                        <input type="radio" name="met_expectation" id="met_expectation_true" value="True" checked>
                                        I met or exceeded my expectations
                                      </label>
                                    </div>
                                    <div class="radio">
                                      <label>
                                        <input type="radio" name="met_expectation" id="met_expectation_false" value="False">
                                        I was below my expectations
                                      </label>
                                    </div>
                                    {% if form.docfile.errors %}
                                        {% for error in form.docfile.errors %}
                                            <div class="alert alert-danger">
                                                <strong>{{ error | escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% endif %}

                                </div>
                            </div>

                            <div class="row">
                                <div class='col-sm-12'>

                                    <p>
                                        <input id="id_docfile" name="docfile" type="file" accept=".gpx,.fit" required>
                                    </p>
                                    <p style="font-size: 10px">HackTrack only supports .fit and .gpx uploads. <a href={% url 'athletes:help' %}>Click here</a> for information on how to find these files.</p>
                                    {% if form.docfile.errors %}
                                        {% for error in form.docfile.errors %}
                                            <div class="alert alert-danger">
                                                <strong>{{ error | escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                            

                        <div class="col-sm-2">

                            <button type="submit" class="save btn btn-primary pull-right" value="Upload">Save</button>


                        </div>
                        
                    </div>

                </form>

            </div>

        {% endblock %}



</html>