{% extends "activities/base.html" %}
{% load static %}
{% load template_filters %}

<!DOCTYPE html>
<!-- MODIFIED FROM: -->
<!-- https://github.com/adilmoujahid/DonorsChoose_Visualization/blob/eadde1a537eef4d968628d1d838c07fb1953af52/templates/index.html -->
<!-- https://github.com/keen/dashboards/blob/gh-pages/layouts/two-and-one/index.html -->

<html>
    <head>
        <title>Details</title>        
    </head>

    <body>

    {% block content %}
        
        <div class="container">

            <h1>Details</h1>
            <h2>{{ activity.name }}</h2>


            <div id="chart">
              <svg></svg>
            </div>

        </div>

        {% block javascript %}

            <script>
                var activity = "{{ activity_json }}";
            </script>

            <script src="{% static 'lib/js/queue.js' %}"></script>
            <script src="{% static 'js/details_graphs.js' %}" type='text/javascript'></script>


        {% endblock %}

    {% endblock %}

    </body>
</html>