body.application {
  background: #f2f2f2;
  padding: 0px 0px 0;
}
body.application > .container-fluid {
  padding-left: 20px;
  padding-right: 20px;
}

textarea{
    width: 100%;
    height: 164px;
    border: none;
}

.chart-stage {
	display: block;
	
}

.details-line {
  padding-top: 30px !important;
}

.details-hist {
  padding-top: 10px !important;
}

.dashboard {
  padding-top: 30px !important;
  padding-right: 50px !important;
}

iframe:focus { 
    outline: none;
}

iframe[seamless] { 
    display: block;
}

.nv-axis .tick line {
    stroke:#e5e5e5;
}

/* from http://stackoverflow.com/questions/3148415/ */
.verticalLine {
  border-left: solid #ff0000;
}

.nvtooltip {
  font-size: 10px !important;
}

.nvd3 text {
  font: normal 11px sans-serif !important;
}
.nvd3 .title {
  font: normal 10px sans-serif !important;
}

.nvtooltip h3 {
  font: bold 12px sans-serif !important;
}